button{
    width: 30%;
    height: 60px;
    text-size-adjust: 10px;
    background-color: blueviolet;
    font-size: 30px;
}
.clr{
    width: 60%;
   text-align: center;
   margin-top: 50px;
   border: 5px solid rgb(234, 226, 226);
}
input{
    width: 20%;
    height: 60px;
    margin-bottom: 10px;
    background-color: rgb(194, 210, 72);
    font-size: medium;
}